p {
    font-size: 20px;
}


#gameboard {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
    height: 90px;
    width: 90px;
    border: 1px solid black;
}

button {
    height: 40px;
    width: 80px;
    font-size: 17px;
    background-color: red;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}